/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.App{
 
  
}

body{
  background-image: linear-gradient( rgba(4, 58, 59, 0.438), rgb(20, 201, 192));
  display: grid;
  grid-template-columns: 35% auto;
  grid-template-areas: "header header"
                        "filterImages videoPlayer"
                        "something timeline"
                        "footer footer";
  
}

header{
  grid-area: header;
  font-size: 50px;
  color: rgb(224, 19, 190);
  text-align: center;
  font-style: normal;
  /* text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color:rgba(4, 58, 59, 0.438);   */
}

.filter-images{
  grid-area: filterImages;
}
.video-container{
  grid-area: videoPlayer;
}

.timeline{
  grid-area: timeline;
}

.footer{
  grid-area: footer;
  display: flex;
  gap: 50px;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  font-style: italic;
  color: rgb(102, 12, 87);
}



.footer-matrikel{
  font-size: 12px;
  margin-top: -20px;
}


