.filter-images{
    border-style: dotted;
    border-width: 5px;
    border-color: rgba(238, 234, 9, 0.767);
    background-color: rgba(8, 112, 107, 0.527);
    overflow-y: scroll;
}

/*Scrollbar*/
 /* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(43, 3, 88, 0.671);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(112, 7, 72, 0.671);
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
    background-color: rgb(64, 64, 64);
   
    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
}

img{
    display: inline-block;
    margin: 15px;
    margin-left: 25px;
    width: 100px;
    height: 100px;
    border-radius: 20%;
}

 
