.timeline {
    position: relative;
    width: 100%;
    height: 100%;
}

.filterBar {
    border: 1px solid black;
    table-layout: fixed;
    position: relative;
    height: 20px;
}

.filterBox {
    position: absolute;
    cursor: move;
    display: inline-flex;
    
    background-color: green;
   
    height: 20px;

    border: 1px solid ;
    resize: horizontal;
}