.timeline {
    width: 100%;
    border: 5px;
    border-style: double; 
    border-color: rgba(43, 3, 88, 0.671);

    background-color: rgba(226, 183, 42, 0.623);
    box-shadow: 0 8px 32px 0 rgba(85, 68, 14, 0.37);
}

.filterLine {
    display: flex;
    margin: auto;
}

.filterTitleBox {
    display: block;
    height: 20px;
    width: 20px;
    margin: auto;
}

.filterBoxMoveArea {
    height: 100%;
    margin-right: 10px;

    cursor: move;
}

.filterBoxResizeArea {
    height: 100%;
    width: 100%;

    cursor: e-resize;
}

.timelineTitlePicture {
    width: 100%;
    height: 100%;
    margin: auto;

    border-style: solid;
    border-width: 2px;
    border-color: #073b4c;
}

.filterBar {
    display: flex;
    border: 1px solid rgba(112, 7, 72, 0.671);
    table-layout: fixed;
    position: relative;
    height: 20px;
    width: 100%;
}

.scale {
    display: flex;
    table-layout: fixed;

    height: 20px;
    width: 100%;
    margin: auto;

    background: white;
}

.filterBox {
    border-radius: 4px !important;

    position: absolute;
    display: inline-flex;
    
    background-color: #073b4c;
   
    height: 90%;

    border: 1px solid;
}